<%- include('partials/header') %>

<section>
  <div class="container">
    <h1 class="">Expense Info</h1>
    <h2><%=expense.expenseCategory%></h2>
    <h2><%=expense.expenseAmount%></h2>
    <h2><%=date%></h2>
    <div>
      <a class="btn" href="/income/new">Add Income</a>
      <a class="btn" href="/expense/new">Add Expense</a>
      <a class="btn" href="/users/statementlist">Statement</a>
    </div>
  </div>

</section>

<%- include('partials/footer') %>