<%- include('partials/header') %>

<section>
  <div class="container">
    <h1 class="">Income</h1>
    <h2><%=income.incomeSource%></h2>
    <h2><%=income.incomeAmount%></h2>
    <h2><%=date%></h2>
    <div class="btn-holder">
      <a class="btn" href="/income/new">Add Income</a>
      <a class="btn" href="/expense/new">Add Expense</a>
      <a class="btn" href="/users/statementlist">Statement</a>
    </div>
  </div>

</section>

<%- include('partials/footer') %>